@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* outline: red; */
}

.custom-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 12px;
    padding-left: 12px;
}

.nav_container {
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 12px;
    padding-left: 12px;
}

:root {
    --fs-3xs: 9px;
    --fs-xxs: 10px;
    --fs-xsm: 11px;
    --fs-xs: 12px;
    --fs-sm: 13px;
    --fs-s: 14px;
    --fs-sm: 15px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 14px;
    --fs-2xl: 26px;
    --fs-3xl: 30px;
    --fs-4xl: 28px;
    /* ======= clr ====== */
    --fc-navclr: #030D18;
    --fc-nav-white: #CACED2;
    --fc-blue: #3089FF;
    --fc-lightgrey: #353F49;
    --fc-white: #FBFDFF;
    --fc-bodyclr: #020D15;
    --fc-darkblue: #0389FF1F;
    --fc-borderclr: #1A2B37;
    --fc-darkgrey: #011321;
    --fc-select: #00000054;
    --fc-black: #000000;
    --fc-footerbg: #0389FF14;




}

/* ====================== font clr ===================== */
.color-nav-white {
    color: var(--fc-nav-white);
}
.color-nav_white{
    color: var(--fc-nav-white);
}

.color-blue {
    color: var(--fc-blue);
}

.color-white {
    color: var(--fc-white);
}

.body-bg-clr {
    background-color: var(--fc-bodyclr);
}

.color-black {
    color: var(--fc-black);
}

/* ======================== font size ================================== */
.text-9 {
    font-size: var(--fs-3xs);
}

.text-10 {
    font-size: var(--fs-xxs);
}

.text-11 {
    font-size: var(--fs-xsm);
}

.text-12 {
    font-size: var(--fs-xs);
}

.text-13 {
    font-size: var(--fs-sm);
}

.text-14 {
    font-size: var(--fs-s);
}

.text-15 {
    font-size: var(--fs-sm);
}

.text-16 {
    font-size: var(--fs-md);
}

.text-18 {
    font-size: var(--fs-lg);
}

.text-20 {
    font-size: var(--fs-xl);
}

.text-32 {
    font-size: var(--fs-2xl);
}

.text-44 {
    font-size: var(--fs-3xl);
}

.text-48 {
    font-size: var(--fs-4xl);
}

/* =============================== line height ===================================== */
.lh-18 {
    line-height: 18.9px;
}

.lh-27 {
    line-height: 27.2px;
}

.lh-38 {
    line-height: 38px;
}

.lh-60 {
    line-height: 40px;
}

.lh-24 {
    line-height: 24.2px;
}

.lh-55 {
    line-height: 40.44px;
}

.lh-22 {
    line-height: 22.68px;
}

.lh-30 {
    line-height: 20px;
}

.lh-19 {
    line-height: 19.6px;
}

.lh-28 {
    line-height: 28px;
}

.lh-44 {
    line-height: 44.8px;
}

.lh-25 {
    line-height: 25.2px;
}

.lh-20 {
    line-height: 20.16px;
}

.lh-21 {
    line-height: 21.31px;
}

/* ================================================ font-weight ================================================ */
.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

/* ============================ font family =================================== */
.ff-plus {
    font-family: ' Plus Jakarta Sans', sans-serif;
}

.ff-poppins {
    font-family: 'Poppins', sans-serif;
}

.bg-nav-clr {
    background-color: var(--fc-navclr);
}

.gap-30 {
    gap: 30px;
}

.nav-btn {
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    padding: 13px 32px;
    border-radius: 40px;
    border: 2px solid transparent;
    box-shadow: 0px 4px 32px 0px #2746ED80;
    transition: all 200ms linear;
}

.btn-style:hover {
    border: 2px solid var(--fc-blue);
    background: var(--fc-nav-white);
    color: var(--fc-blue)
}

.py_16_39 {
    padding: 16px 39px;
}

.nav_line::after {
    content: "";
    width: 0%;
    height: 2px;
    background: var(--fc-blue);
    border-radius: 21px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2px;
    transition: all 200ms linear;
    /* z-index: -1; */
}

.nav_line:hover:after {
    width: 100%;
}
.color-nav_white:hover{
    color: var(--fc-blue);
}

.border_bottom {
    border-bottom: 1px solid var(--fc-lightgrey);
    /* opacity: 1%; */

}

.bg-hero-img {
    background-image: url(../images/png/bg-hero-img.png);
    background-position: center;
    background-size: 100% 81%;
    background-repeat: no-repeat;
}

.line {
    height: 2px;
    background: var(--fc-blue);
    width: 109px;
}

.max-w-524 {
    max-width: 524px;
}

.req-btn {
    padding: 6px 15px;
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    box-shadow: 0px 4px 32px 0px #2746ED80;
    border: 2px solid transparent;
    border-radius: 40px;
}


.max-w-985 {
    max-width: 1209px;
}

.pt-30 {
    padding-top: 30px;
}

.max-w-515 {
    max-width: 515px;
}

.hero-ellipse {
    bottom: -48%;
    left: 0;
}

/* ========================================== Images slider ============================================== */
.slideBox img {
    filter: grayscale(100%);
}

.slideBox:hover img {
    filter: unset;
}

.pb-19 {
    padding-bottom: 19px;
}

/* =========================================== AI Compliance ========================================== */
.max-w-467 {
    max-width: 467px;
}



.watch-btn {
    padding: 8px 22px;
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    box-shadow: 0px 4px 32px 0px #2746ED80;
    border: 2px solid transparent;
    border-radius: 40px;
}

.pb-12 {
    padding-bottom: 12px;
}

.max-w-615 {
    max-width: 615px;
}

/* .max-w-474 {
    max-width: 474px;
} */

.pb-lg-28 {
    padding-bottom: 28px;
}



/* ====================================== how we can help ==================================== */
/* .accordion-1 {
    border-radius: 6px;
}

.accPara {
    height: 0;
    overflow: hidden;
}

.accordion-1:active .accPara {
    height: unset;
} */

.help-ellipse {
    left: 0;
    top: 3%;
    z-index: -1;
}

/* ==================================== how can we bring you ==================================== */
.gap-14 {
    gap: 14px;
}

.value-ellipse-1 {
    top: 9px;
    left: -1%;
}
.value-ellipse-2{
    top: 65px;
    right: 0%;
}

.value-box {
    max-width: 400px;
    /* min-height: 80px; */
    width: 100%;
    background: var(--fc-darkblue);
    border-radius: 10px;
    Padding: 13px 16px 13px 16px
}

.pt-lg-30 {
    padding-top: 30px;
}

.py-lg_112_94 {
    padding-bottom: 112px;
    padding-top: 94px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.max-w-645 {
    max-width: 645px;
}

.h-665 {
    height: 665px;
}

/* ========================================== testimonials ============================================== */
.max-w-834 {
    max-width: 834px;
}
.pt-18{
    padding-top: 18px;
}

.style_italic {
    font-style: italic;
}

.testi-box {
    /* max-width: 946px; */
    min-height: 253px;
    width: 100%;
    height: 100%;
    border: transparent;
    border-radius: 20px;
    background: var(--fc-darkblue);
    padding: 10px 5px 10px 10px;
}

.opacity_20 {
    opacity: 20%;
}

.pb-20 {
    padding-bottom: 20px;
}

.pt-13 {
    padding-top: 13px;
}

.slick-prev,
.slick-next {
    display: none !important;
}

.slick-dots li button:before {
    color: var(--fc-white) !important;
}

.slick-list {
    padding: 0 20% 42px 20% !important;
}

.responsive .slick-track {
    display: flex !important;
    gap: 30px !important;
}

.slick-dots li button:before {
    content: unset !important;
}

.slick-dots li {
    content: unset;
    width: 10px !important;
    height: 10px !important;
    background: var(--fc-white);
    margin: 7px;
    border-radius: 21px;
    transition: all 300ms linear;
    z-index: 2;
}

.slick-dots li.slick-active {
    background: var(--fc-blue);
    width: 60px !important;
}

/* .acc-border {
    position: relative;
    padding: 18px 24px;
    border-radius: 6px;
}

.accPara {
    height: 0;
    overflow: hidden;
} */

/* .accordion-1:active .accPara {
    height: unset;
}

.accordion-1 {
    border-radius: 6px;
}

.accordion1 {
    max-width: 558px;
    padding: 18px 24px;
    position: relative;
    transition: all 400ms linear;
    margin-bottom: 24px;
}

.accordion1.active {
    border-radius: 6px;
    position: relative;
}

.accordion1.active .arrow {
    transform: rotate(47deg);
    transition: all 300ms linear;
} */

/* =============================== we provide solution ====================================== */
.opacity_70 {
    opacity: 70%;
}

.lrn-btn {
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    padding: 13px 32px;
    border-radius: 40px;
    border: 2px solid transparent;
    box-shadow: 0px 4px 32px 0px #2746ED80;

}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.secure-ellipse-1{
    top: -219px;
    left: 2%;
    z-index: -1;
}
.secure-ellipse-2{
    top: -108px;
    right: 0%;
    z-index: -1;
}

/* ============================== how it works ======================================== */
.gap-8 {
    gap: 8px;
}
.work-ellipse{
    top: 41px;
    left: 23%;
    z-index: -1;
}

.add-btn {
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    padding: 4px 15px;
    border-radius: 40px;
    border: 2px solid transparent;
    /* box-shadow: 0px 4px 32px 0px #2746ED80; */
    transition: all 200ms linear;
    max-width: 129px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.dotted-border {
    border: 1px dotted var(--fc-blue);
    padding: 9px 7px;
    border-radius: 5px;
    max-width: 161px;
}

.get-box {
    max-width: 189px;
    width: 100%;
    border-radius: 22px;
    border: 1px solid var(--fc-borderclr);
    padding: 19px 14px;
    background: var(--fc-darkgrey);
}

.pb-10 {
    padding-bottom: 10px;
}

.get-parent-box {
    max-width: 231px;
    width: 100%;
    padding: 23px 20px 20px 21px;
    background: var(--fc-darkblue);
    border-radius: 15px;
}

.plus-img {
    top: -17px;
    right: -22px;
}

.arrow-pstn {
    position: absolute;
    top: 40%;
    right: -122px;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 11px;
    border: 0.6px solid var(--fc-blue);
    border-radius: 2px;
}

input[type="checkbox"]:checked::before {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 9px;
    width: 6px;
    height: 13px;
    border: solid var(--fc-darkgrey);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

input[type="checkbox"]:checked {
    background: var(--fc-blue);
    border: 0.6px solid transparent;
}

.gap-13 {
    gap: 13px;
}

.mb-11 {
    margin-bottom: 11px;
}

.select-box {
    max-width: 189px;
    width: 100%;
    border-radius: 22px;
    border: 1px solid var(--fc-borderclr);
    padding: 12px 0px 0px 17px;
    background: var(--fc-darkgrey);
}

.content-box {
    max-width: 88px;
    border-radius: 4px;
    background: var(--fc-blue);
    border: transparent;
    min-height: 19.4px;
    padding: 5px 3px 2px 2px;
}

.content-box-2 {
    max-width: 88px;
    border-radius: 4px;
    background: var(--fc-black);
    border: transparent;
    min-height: 19.4px;
    padding: 5px 3px 2px 2px;
}

.serve-box {
    max-width: 115px;
    min-height: 19px;
    background: var(--fc-blue);
    border-radius: 4px;
    padding: 3px 5px 2px 2px;
}

.serve-box-2 {
    max-width: 115px;
    min-height: 19px;
    background: var(--fc-black);
    border-radius: 4px;
    padding: 3px 5px 2px 2px;
}

.pb-7 {
    padding-bottom: 7px;
}

.practice-box {
    max-width: 189px;
    width: 100%;
    border-radius: 22px;
    border: 1px solid var(--fc-borderclr);
    padding: 13px 14px;
    background: var(--fc-darkgrey);
}

.opacity_90 {
    opacity: 90%;
}

.pb-10 {
    padding-bottom: 10px;
}

.try-btn {
    padding: 13px 32px;
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    box-shadow: 0px 4px 32px 0px #2746ED80;
    border: 2px solid transparent;
    border-radius: 40px;
}

.mb-20 {
    margin-bottom: 20px;
}

.pt-20 {
    padding-top: 20px;
}

/* ==================================== integrations =================================== */
.border_right {
    border-right: 1px solid var(--fc-borderclr);
}

.py-10 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.inte-ellipse {
    top: -25%;
    left: 0;
}

/* ========================================= accelerate your ================================= */
.pt-lg-32 {
    padding-top: 32px;
}
.accelerate-ellipse{
    top: -9%;
    right: 3%;
    z-index: -1;
}

.mt-lg-28 {
    margin-top: 28px;
}

.gap-lg-23 {
    gap: 23px;
}

.pb-lg-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-lg-23 {
    padding-bottom: 23px;
}

.mb-lg-48 {
    margin-bottom: 48px;
}

.select-btn {
    padding: 13px 32px;
    border: 1px solid var(--fc-white);
    background: transparent;
    border-radius: 40px;
    box-shadow: 0px 4px 32px 0px #2746ED80;
}

.mt-30 {
    margin-top: 30px;
    /* margin-bottom: 30px; */
}

.acc-line-1 {
    border: 1px solid var(--fc-borderclr);
    top: 0%;
}

.acc-line-2 {
    border: 1px solid var(--fc-borderclr);
    top: 33%;
    display: block;
}

.acc-line-3 {
    border: 1px solid var(--fc-borderclr);
    top: 66%;
    display: block;
}

.max-w-292 {
    max-width: 292px;
}

.max-w-300 {
    max-width: 300px;
}

.max-w-293 {
    max-width: 293px;
}
.choose-ellipse-1{
    top: -48%;
    left: 0;
    z-index: -1;
}
.choose-ellipse-2{
    top: 0%;
    left: -37%;
    z-index: -1;
}
.show_plan.active .dollor.color-white{
    color: var(--fc-blue);
}
.show_plan.active .select-btn{
    border: 2px solid var(--fc-blue);
    background: var(--fc-nav-white);
    color: var(--fc-blue)
}

.max-w-537{
    max-width: 537px;
}

/* ========================================= get started today ================================ */
.get-bg-img {
    background-image: url(../images/png/get-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.max-w-617 {
    max-width: 617px;
}

.mail_style {
    border: none;
    outline: none;
    background: transparent;
}

.sign-btn {
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    padding: 10px 12px;
    border-radius: 40px;
    border: 2px solid transparent;
    box-shadow: 0px 4px 32px 0px #2746ED80;

}

.mail-box {
    max-width: 520px;
    width: 100%;
    min-height: 45px;
    background: #FBFDFF12;
    border-radius: 29px;
    padding-left: 33px;
}

.bg-f-clr {
    background: var(--fc-footerbg);
}

/* ===================================== footer =========================================== */
.max-w-225 {
    max-width: 225px;
}

.svg-box {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid white;
    background: transparent;
}

.gap-10 {
    gap: 10px;
}

.opacity_60 {
    opacity: 60%;
}

.f_bootom_border {
    border-bottom: 1px solid var(--fc-borderclr);
}

.mt-10 {
    margin-top: 10px;
}

.py-27 {
    padding-top: 27px;
    padding-bottom: 27px;
}

.max-w-419 {
    max-width: 419px;
}

.mb_5 {
    margin-bottom: 5px;
}

.f-link:hover {
    opacity: 100%;
}
.f-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    background: var(--fc-white);
    left: 0;
    bottom: -2px;
    transition: all 200ms linear;
}

.f-link:hover::after {
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.zoom {
    transition: all 300ms linear;
}

.zoom:hover {
    scale: 1.2;
}

.timeSaving_Iconbox {
    width: 64px;
    height: 64px;
    padding: 16px;
    border-radius: 8px;
    background: var(--fc-darkblue);
    /* display: none !important; */
}

.timeSaving_box {
    background: var(--fc-darkblue);
    padding: 22px 22px;
    max-width: 531px;
    border-radius: 10px;
    transition: all 300ms linear;
    /* margin-bottom: 10px; */
    /* min-height: 135px; */
}

.accordionHead {
    cursor: pointer;
}

.accordionpara {
    height: 0;
    overflow: hidden;
    transition: all 300ms linear;
}

.timeSaving_box.active .accordionpara {
    height: unset;
}

.timeSaving_box.active {
    padding: 17px 10px;
    /* min-height: 135px; */
    height: 100%;
   max-width: 531px;
}

.timeSaving_box.active .accordionHead .timeSaving_Iconbox {
    display: block;
}

.timeSaving_box.active .accordionHead .content {
    color: var(--fc-blue);
}
.color-blue{
    color: var(--fc-blue);
}
.d_none{
    display: none;
}
/* .max-w-370{
    max-width: 370px;
} */
.gap_22{
    gap: 22px;
}
.acc-ellipse{
    right: 0;
    top: -213px;
}
.mb-10{
    margin-bottom: 10px;
}
.mt-10{
    margin-top: 10px;
}
.topBtn {
    width: 45px;
    height: 45px;
    background: var(--fc-blue);
    border-radius: 50%;
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 8%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    /* transition: all 300ms linear; */
    z-index: 2;
}

.topBtn.show {
    opacity: 1;
    visibility: visible;
}
.pulse {
    animation: pulse-animation  2s infinite;
  }
  
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px var(--fc-white);
    }
    100% {
      box-shadow: 0px 2px 15px 3px var(--fc-white);;
    }
  }
  /* .btn-2 {
    letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
} */

@media (max-width:768px) and (min-width:576px) {
    .Y-line-3 {
        width: 100%;
        border: 1px solid var(--fc-borderclr);
        top: 77%;
    }
}

@media (min-width:576px) {
    :root {
        --fs-4xl: 48px;
        --fs-2xl: 32px;
        --fs-3xl: 32px;
    }

    .lh-60 {
        line-height: 60.48px;
    }

    .lh-30 {
        line-height: 30px;
    }

    .req-btn {
        padding: 13px 32px;
        background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
        box-shadow: 0px 4px 32px 0px #2746ED80;
        border: 2px solid transparent;
        border-radius: 40px;
    }

    .watch-btn {
        padding: 13px 32px;
        background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
        box-shadow: 0px 4px 32px 0px #2746ED80;
        border: 2px solid transparent;
        border-radius: 40px;
    }

    .pb-lg-28 {
        padding-bottom: 28px;
    }

    .lh-55 {
        line-height: 55.44px;
    }

    :root {
        --fs-xl: 20px;
    }

    .py-sm-40 {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .pb-sm-30 {
        padding-bottom: 30px;
    }

    .Y-line {
        width: 100%;
        border: 1px solid var(--fc-borderclr);
        top: 26%;
    }

    .Y-line-2 {
        width: 100%;
        border: 1px solid var(--fc-borderclr);
        top: 52%;
        display: block;
    }

    .sign-btn {
        background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
        padding: 13px 32px;
        border-radius: 40px;
        border: 2px solid transparent;
    }

    .mail-box {
        max-width: 520px;
        width: 100%;
        min-height: 55px;
        background: #FBFDFF12;
        border-radius: 29px;
        padding-left: 33px;
    }

    .mb-sm-10 {
        margin-bottom: 10px;
    }

}

@media (min-width:768px) {
    .py-md-50 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .pb-md-50 {
        padding-bottom: 50px;
    }

    :root {
        --fs-3xl: 40px;
    }

    .pb-md-30 {
        padding-bottom: 30px;
    }

    .mb-md-70 {
        margin-bottom: 70px;
    }

    .pt-md-60 {
        padding-top: 60px;
    }

    .py-md-30 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .pb-md-30 {
        padding-bottom: 30px;
    }

    .bottom_border {
        border-bottom: 1px solid var(--fc-borderclr);
    }

    .py-md-30 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .Y-line {
        width: 100%;
        border: 1px solid var(--fc-borderclr);
        top: 36%;
    }

    .Y-line-2 {
        width: 100%;
        border: 1px solid var(--fc-borderclr);
        top: 71%;
        display: block;
    }

    .acc-line-1 {
        border: 1px solid var(--fc-borderclr);
        top: 16%;
    }

    .acc-line-2 {
        border: 1px solid var(--fc-borderclr);
        top: 50%;
        display: block;
    }

    .acc-line-3 {
        border: 1px solid var(--fc-borderclr);
        top: 66%;
        display: block;
    }

    .acc-line-4 {
        border: 1px solid var(--fc-borderclr);
        top: 0%;
        display: block;
    }

    .pb-lg-81 {
        padding-bottom: 81px;
    }

    .pt-lg-51 {
        padding-top: 51px;
    }

    .mt-lg-87 {
        margin-top: 87px;
    }

    .py-md-70 {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .mt-md-30 {
        margin-top: 30px;
    }

}

@media (min-width:992px) {
    .gap-lg-51 {
        gap: 51px;
    }

    .pt-lg-81 {
        padding-top: 81px;
    }

    .pb-lg-46 {
        padding-bottom: 46px;
    }

    .pb-lg-130 {
        padding-bottom: 130px;
    }

    .pb-lg-44 {
        padding-bottom: 34px;
    }

    :root {
        --fs-3xl: 44px;
    }

    .plus-img {
        top: -17px;
        right: -22px;
    }

    .arrow-pstn {
        position: absolute;
        top: 40%;
        right: -62px;
    }

    .pt-lg-25 {
        padding-top: 25px;
    }

    .pb-lg-58 {
        padding-bottom: 58px;
    }

    .pb-lg-76 {
        padding-bottom: 76px;
    }

    .mb-lg-164 {
        margin-bottom: 164px;
    }

    .pt-lg-131 {
        padding-top: 131px;
    }

    .py-lg-55 {
        padding-top: 55px;
        padding-bottom: 55px;
    }

    .pb-lg-71 {
        padding-bottom: 71px;
    }

    .py-58-63 {
        padding-top: 58px;
        padding-bottom: 63px;
    }

    .Y-line {
        width: 100%;
        border: 1px solid var(--fc-borderclr);
        top: 50%;
    }

    .Y-line-2 {
        width: 100%;
        border: 1px solid var(--fc-borderclr);
        top: 25%;
        display: none;
    }

    .pt-lg-121 {
        padding-top: 121px;
    }

    .max-w-474 {
        max-width: 474.98px;
    }

    .acc-line-1 {
        border: 1px solid var(--fc-borderclr);
        top: 28%;
    }

    .acc-line-2 {
        border: 1px solid var(--fc-borderclr);
        top: 30%;
        display: none;
    }

    .acc-line-3 {
        border: 1px solid var(--fc-borderclr);
        top: 50%;
        display: none;
    }

    .acc-line-4 {
        border: 1px solid var(--fc-borderclr);
        top: 66%;
        display: none;
    }

    .pb-lg-56 {
        padding-bottom: 56px;
    }

    .py-lg-121 {
        padding-top: 121px;
        padding-bottom: 126px;
    }

    .mt-lg-95 {
        margin-top: 95px;
    }

    .pt-lg-103 {
        padding-top: 103px;
    }

    .pt-lg-19 {
        padding-top: 19px;
    }

    .pb-lg-36 {
        padding-bottom: 36px;
    }
    .pt-lg-70{
        padding-top: 70px;
    }
    .show_plan.active .choose-ellipse-2{
        display: block;
    }
    .py-lg-100 {
        padding-top: 100px;
        padding-bottom: 100px;
    }

}

@media (min-width:1200px) {
    .plus-img {
        top: -17px;
        right: -22px;
    }

    .arrow-pstn {
        position: absolute;
        top: 40%;
        right: -48px;
    }
}
@media (max-width:567px) {
    .max-w-150{
        max-width: 150px;
    }
}
@media (max-width:768px) {
    .ps_0 {
        padding-left: 0;
    }
}

@media (max-width:992px) {

    .overFlowHidden {
        overflow: hidden !important;
    }

    ul.menulist.show {
        right: 0;
    }

    .menuIcon.show>span {
        top: -8px !important;
        position: relative !important;
    }

    .menuIcon {
        width: 30px;
        height: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 5;
        transition: all 300ms linear;
        /* top: 31px; */
        right: 12px;
        /* position: fixed; */
    }


    .menuIcon>span {
        width: 100%;
        height: 4px;
        background: var(--fc-nav-white);
        position: relative;
        z-index: 3;
        transition: all 300ms linear;
    }

    .menuIcon.show>span {
        top: -8px !important;
        position: relative !important;
    }

    .menulist {
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: var(--fc-darkgrey);
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 3;
        justify-content: center;
        align-items: center;
    }

    .cross span:nth-child(1) {
        transform: rotate(47deg) translateY(0px);
        transition: all 300ms linear;
        position: relative;
        top: 11px;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 300ms;
    }

    .cross span:nth-child(3) {
        transform: rotate(135deg) translateY(0px);
        transition: all 300ms linear;
        position: relative;
        top: -9px;
    }

    .text_center {
        text-align: center;
    }

    .justify_content_center {
        justify-content: center;
    }

    .align_items_center {
        align-items: center;
    }

    .right-border {
        border-right: 1px solid var(--fc-borderclr);
    }
    .mx_auto{
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width:1200px) {
    .w_100 {
        width: 100%;
    }
}