@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.custom-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 12px;
    padding-left: 12px;
}
.nav_container{
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 12px;
    padding-left: 12px;
}

:root {
    --fs-xs: 14px;
    --fs-sm: 15px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 14px;
    --fs-2xl: 26px;
    --fs-3xl: 30px;
    --fs-4xl: 28px;
    /* ======= clr ====== */
    --fc-navclr: #030D18;
    --fc-nav-white: #CACED2;
    --fc-blue: #3089FF;
    --fc-lightgrey: #353F49;
    --fc-white: #FBFDFF;
    --fc-bodyclr: #020D15;
    --fc-darkblue:#0389FF1F;
}

/* ====================== font clr ===================== */
.color-nav-white {
    color: var(--fc-nav-white);
}

.color-blue {
    color: var(--fc-blue);
}

.color-white {
    color: var(--fc-white);
}
.body-bg-clr{
    background-color: var(--fc-bodyclr);
}

/* ======================== font size ================================== */
.text-14 {
    font-size: var(--fs-xs);
}

.text-15 {
    font-size: var(--fs-sm);
}

.text-16 {
    font-size: var(--fs-md);
}

.text-18 {
    font-size: var(--fs-lg);
}

.text-20 {
    font-size: var(--fs-xl);
}

.text-32 {
    font-size: var(--fs-2xl);
}

.text-44 {
    font-size: var(--fs-3xl);
}

.text-48 {
    font-size: var(--fs-4xl);
}

/* =============================== line height ===================================== */
.lh-18 {
    line-height: 18.9px;
}

.lh-27 {
    line-height: 27.2px;
}

.lh-38 {
    line-height: 38px;
}

.lh-60 {
    line-height: 40px;
}

.lh-24 {
    line-height: 24.2px;
}

.lh-55 {
    line-height: 40.44px;
}

.lh-22 {
    line-height: 22.68px;
}

.lh-30 {
    line-height: 20px;
}

.lh-19 {
    line-height: 19.6px;
}

.lh-28 {
    line-height: 28px;
}

.lh-44 {
    line-height: 44.8px;
}

.lh-25 {
    line-height: 25.2px;
}

.lh-20 {
    line-height: 20.16px;
}

.lh-21 {
    line-height: 21.31px;
}

/* ================================================ font-weight ================================================ */
.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

/* ============================ font family =================================== */
.ff-plus {
    font-family: ' Plus Jakarta Sans', sans-serif;
}

.bg-nav-clr {
    background-color: var(--fc-navclr);
}

.gap-30 {
    gap: 30px;
}

.nav-btn {
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    padding: 13px 32px;
    border-radius: 40px;
    border: 2px solid transparent;
    box-shadow: 0px 4px 32px 0px #2746ED80;
    transition: all 200ms linear;
}

.btn-style:hover {
    border: 2px solid var(--fc-blue);
    background: var(--fc-nav-white);
    color: var(--fc-blue)
}

.py_16_39 {
    padding: 16px 39px;
}

.bottom_line::after {
    content: "";
    width: 0%;
    height: 2px;
    background: var(--fc-nav-white);
    border-radius: 21px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2px;
    transition: all 200ms linear;
    /* z-index: -1; */
}

.bottom_line:hover:after {
    width: 100%;
}

.border_bottom {
    border-bottom: 1px solid var(--fc-lightgrey);
    /* opacity: 1%; */

}

.bg-hero-img {
    background-image: url(../images/png/bg-hero-img.png);
    background-position: center;
    background-size: 100% 81%;
    background-repeat: no-repeat;
}

.line {
    height: 2px;
    background: var(--fc-blue);
    width: 109px;
}

.max-w-524 {
    max-width: 524px;
}

.req-btn {
    padding: 6px 15px;
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    box-shadow: 0px 4px 32px 0px #2746ED80;
    border: 2px solid transparent;
    border-radius: 40px;
}


.max-w-985{
    max-width: 1209px;
}
.pt-30{
    padding-top: 30px;
}
.max-w-515 {
    max-width: 515px;
}
/* ========================================== Images slider ============================================== */
.slideBox img {
    filter: grayscale(100%);
}

.slideBox:hover img {
    filter: unset;
}
.pb-19{
    padding-bottom: 19px;
}
/* =========================================== AI Compliance ========================================== */
.max-w-467{
    max-width: 467px;
}
.max-w-474{
    max-width: 474.98px;
}
.watch-btn{
    padding: 8px 22px;
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    box-shadow: 0px 4px 32px 0px #2746ED80;
    border: 2px solid transparent;
    border-radius: 40px;
}

.pb-12{
    padding-bottom: 12px;
}
.max-w-615{
    max-width: 615px;
}
.max-w-474{
    max-width: 474px;
}
.pb-lg-28{
    padding-bottom: 28px;
}
.py-lg-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
/* ====================================== how we can help ==================================== */
.accordion-1 {
    border-radius: 6px;
}

.accPara {
    height: 0;
    overflow: hidden;
}

.accordion-1:active .accPara {
    height: unset;
}
/* ==================================== how can we bring you ==================================== */
.gap-14{
    gap: 14px;
}
.value-box{
    max-width: 400px;
    /* min-height: 80px; */
    width: 100%;
    background: var(--fc-darkblue);
    border-radius: 10px;
    Padding:13px 16px 13px 16px
}

.pt-lg-30{
    padding-top: 30px;
}
.py-lg_112_94{
    padding-bottom: 112px;
    padding-top: 94px;
}
.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.max-w-645{
    max-width: 645px;
}
.h-665{
    height: 665px;
}
/* ========================================== testimonials ============================================== */
.max-w-834{
    max-width: 834px;
}
.style_italic{
    font-style: italic;
}
.testi-box{
    /* max-width: 946px; */
    min-height: 253px;
    width: 100%;
    height: 100%;
    border: transparent;
    border-radius: 20px;
     background: var(--fc-darkblue);
     padding: 10px 5px 10px 10px;
}
.opacity_20{
    opacity: 20%;
}
.pb-20{
    padding-bottom: 20px;
}
.pt-13{
    padding-top: 13px;
}

.slick-prev, .slick-next {
    display:none !important;
}
.slick-dots li button:before {
 color: var(--fc-white) !important;
}
.slick-list {
    padding: 0 20% 42px 20% !important;
}
.responsive .slick-track{
    display: flex !important;
    gap: 30px !important;
}
.slick-dots li button:before {
    content: unset !important;
}

.slick-dots li {
    content: unset;
    width: 10px !important;
    height: 10px !important;
    background: var(--fc-white);
    margin: 7px;
    border-radius: 21px;
    transition: all 300ms linear;
    z-index: 2;
}

.slick-dots li.slick-active {
    background: var(--fc-blue);
    width: 60px !important;
}
/* .responsive .slick-slide{
max-width: 948px; 
} */
.acc-border {
    position: relative;
    padding: 18px 24px;
    border-radius: 6px;
}
.accPara {
    height: 0;
    overflow: hidden;
}

.accordion-1:active .accPara {
    height: unset;
}

/* .acc-border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 6px;
    padding: 2px;
    background: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
} */

.accordion-1 {
    border-radius: 6px;
}
.accordion1 {
    max-width: 558px;
    padding: 18px 24px;
    position: relative;
    transition: all 400ms linear;
    margin-bottom: 24px;
}

/* .accordionHead::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 6px;
    padding: 1px;
    background: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    border: 0.5px solid;
    border-image-source: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: all 300ms linear;
} */

.accordion1.active {
    border-radius: 6px;
    position: relative;
} 

 .accordion1.active .arrow {
    transform: rotate(47deg);
    transition: all 300ms linear;
}

/* =============================== we provide solution ====================================== */
.opacity_70{
    opacity: 70%;
}
.lrn-btn{
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
     padding: 13px 32px;
     border-radius: 40px;
     border: 2px solid transparent;
}

@media (min-width:576px) {
    :root{
        --fs-4xl: 48px;
        --fs-2xl: 32px;
        --fs-3xl: 44px;
    }
    .lh-60 {
        line-height: 60.48px;
    }
    .lh-30 {
        line-height: 30px;
    }
    .req-btn {
        padding: 13px 32px;
        background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
        box-shadow: 0px 4px 32px 0px #2746ED80;
        border: 2px solid transparent;
        border-radius: 40px;
    }
    .watch-btn{
        padding: 13px 32px;
        background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
        box-shadow: 0px 4px 32px 0px #2746ED80;
        border: 2px solid transparent;
        border-radius: 40px;
    }
    .pb-lg-28{
        padding-bottom: 28px;
    }
    .lh-55 {
        line-height: 55.44px;
    }
    :root{
        --fs-xl: 20px;
    }
    .py-sm-40{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .pb-sm-30{
        padding-bottom: 30px;
    }
}
@media (min-width:768px) {
    .py-md-50{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .pb-md-50{
        padding-bottom: 50px;
    }
}
@media (min-width:992px) {
    .gap-lg-51 {
        gap: 51px;
    }
    .pt-lg-81 {
        padding-top: 81px;
    }
    .pb-lg-46{
        padding-bottom: 46px;
    }
    .pb-lg-130{
        padding-bottom: 130px;
    }
    .pb-lg-44{
        padding-bottom: 34px;
    }
   
}

@media (max-width:992px) {

    .overFlowHidden {
        overflow: hidden !important;
    }

    ul.menulist.show {
        right: 0;
    }

    .menuIcon.show>span {
        top: -8px !important;
        position: relative !important;
    }

    .menuIcon {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 5;
        transition: all 300ms linear;
        /* top: 31px; */
        right: 12px;
        /* position: fixed; */
    }


    .menuIcon>span {
        width: 100%;
        height: 4px;
        background: var(--fc-nav-white);
        position: relative;
        z-index: 3;
        transition: all 300ms linear;
    }

    .menuIcon.show>span {
        top: -8px !important;
        position: relative !important;
    }

    .menulist {
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: var(--fc-blue);
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 3;
        justify-content: center;
        align-items: center;
    }

    .cross span:nth-child(1) {
        transform: rotate(56deg) translateY(0px);
        transition: all 300ms linear;
        position: relative;
        top: -7px;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 300ms;
    }

    .cross span:nth-child(3) {
        transform: rotate(129deg) translateY(0px);
        transition: all 300ms linear;
        position: relative;
        top: -33px;
    }
    .text_center{
        text-align: center;
    }
    .justify_content_center{
        justify-content: center;
    }
    .align_items_center{
        align-items: center;
    }
  
  
}
@media (max-width:1200px) {
    .w_100{
        width: 100%;
    }
}